<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="adjust-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="" />
                </a>
            </div>
            <span class="logout-spn" >
                {% if user %}
                    <a href="#" style="color:#fff;">Logout</a>
                {% else %}
                    <a href="" style="color:#fff;">Login</a>
                {% endif %}
            </span>
        </div>
    </div>

    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="active-link">
                    <a href="index.html" ><i class="fa fa-desktop "></i>Painel Home <span class="badge">Link</span></a>
                </li>
                <li>
                    <a href="ui.html"><i class="fa fa-table "></i>Elementos UI  <span class="badge">Link</span></a>
                </li>
                <li>
                    <a href="blank.html"><i class="fa fa-edit "></i>Qual Página  <span class="badge">Link</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-qrcode "></i>Link 1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i>Link 2</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-edit "></i>Link 3</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table "></i>Link 4</a>
                </li>
                 <li>
                    <a href="#"><i class="fa fa-edit "></i>Link 5</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- /. NAV SIDE  -->
    {% block content %}
        <div id="page-wrapper" >
            <div id="page-inner">
                {% block inside_title %}
                    <div class="row">
                        <div class="col-lg-12">
                             <h2>OurDash Painel</h2>
                        </div>
                    </div>
                {% endblock inside_title %}
             <!-- /. ROW  -->
                <hr />
                {% block inside_msg %}
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="alert alert-info">
                                 <strong>Bem-Vindo {{ user }} ! </strong> Alguma Mensagem...
                            </div>
                        </div>
                    </div>
                {% endblock inside_msg %}


                      <!-- /. ROW  -->

                {% block row_one %}
                    <div class="row text-center pad-top">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="{% url 'dashboards:teste' %}"  >
                                    <i class="fa fa-circle-o-notch fa-5x"></i>
                                    <h4>Relatórios</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                    <h4>Email</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                   <i class="fa fa-lightbulb-o fa-5x"></i>
                                    <h4>Novo</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                              <div class="div-square">
                                  <a href="blank.html" >
                                    <i class="fa fa-users fa-5x"></i>
                                    <h4>Todos Usuários</h4>
                                  </a>
                              </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-key fa-5x"></i>
                                    <h4>Administrador</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                               <a href="blank.html" >
                                   <i class="fa fa-comments-o fa-5x"></i>
                                   <h4>Suporte</h4>
                               </a>
                            </div>
                        </div>
                    </div>

                {% endblock row_one %}

                     <!-- /. ROW  -->

                {% block row_two %}

                    <div class="row text-center pad-top">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                              <div class="div-square">
                                   <a href="blank.html" >
                                        <i class="fa fa-clipboard fa-5x"></i>
                                        <h4>Documentos</h4>
                                    </a>
                              </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-gear fa-5x"></i>
                                    <h4>Configurações</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-wechat fa-5x"></i>
                                    <h4>Chat</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-bell-o fa-5x"></i>
                                    <h4>Notificações </h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-rocket fa-5x"></i>
                                    <h4>Launch</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-user fa-5x"></i>
                                    <h4>Novo usuário</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endblock row_two %}
                    <!-- /. ROW  -->

                {% block row_three %}
                    <div class="row text-center pad-top">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                    <h4>Mail Box</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-lightbulb-o fa-5x"></i>
                                    <h4>New Issues</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-users fa-5x"></i>
                                    <h4>See Users</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-key fa-5x"></i>
                                    <h4>Admin </h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="#" >
                                    <i class="fa fa-comments-o fa-5x"></i>
                                    <h4>Support</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-circle-o-notch fa-5x"></i>
                                    <h4>Check Data</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endblock row_three %}
                             <!-- /. ROW  -->
                {% block row_four %}
                    <div class="row text-center pad-top">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-rocket fa-5x"></i>
                                    <h4>Launch</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-clipboard fa-5x"></i>
                                    <h4>All Docs</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-gear fa-5x"></i>
                                    <h4>Settings</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-wechat fa-5x"></i>
                                    <h4>Live Talk</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-bell-o fa-5x"></i>
                                    <h4>Notifications </h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-user fa-5x"></i>
                                    <h4>Register User</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endblock row_four %}
                      <!-- /. ROW  -->
                {% block row_five %}
                    <div class="row text-center pad-top">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-lightbulb-o fa-5x"></i>
                                    <h4>New Issues</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-users fa-5x"></i>
                                    <h4>See Users</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-key fa-5x"></i>
                                    <h4>Admin </h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-comments-o fa-5x"></i>
                                    <h4>Support</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-circle-o-notch fa-5x"></i>
                                    <h4>Check Data</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                    <h4>Mail Box</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endblock row_five %}
                <!-- /. PAGE INNER  -->
            </div>
            <!-- /. PAGE WRAPPER  -->
        </div>
    {% endblock content %}


    {% block row_footer %}
    <!-- /. ROW  -->
        <div class="row">
            <div class="col-lg-12 ">
            <br/>
                <div class="alert alert-danger">
                     <strong>Dúvidas ? </strong> Entre em contato conosco <a target="_blank" href="">Clique Aqui</a>.
                </div>
            </div>
        </div>

    {% endblock row_footer %}
                  <!-- /. ROW  -->
    </div>

    {% block javascript %}
        <!-- JQUERY SCRIPTS -->
        <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
          <!-- BOOTSTRAP SCRIPTS -->
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
          <!-- CUSTOM SCRIPTS -->
        <script src="{% static 'assets/js/custom.js' %}"></script>
    {% endblock javascript %}


    <div class="footer">
        <div class="row">
            <div class="col-lg-12" >
                &copy;  2019 Redeinova
            </div>
        </div>
    </div>
</body>
</html>